.expense-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;


}


.expense-table-cell {
    border: 5px solid #d62424;
    text-align: left;
    padding: 8px;
}

.search-bar {
    margin-bottom: 20px;
}